<div *ngIf="isVisible" id="preloader">
    <div id="preloader-content">
        <div id="logo-icon">Z</div>
        <div id="loading-bar-container">
            <div id="loading-bar"></div>
            <div id="loading-highlight"></div>
        </div>
        <div id="loading-counter">0%</div>
    </div>
    <div id="brand-text-wrapper">
        <div id="brand-text">
            <span id="zypher-part">ZYPHER</span><span id="x-part">X</span>
        </div>
    </div>
</div>

<div *ngIf="isVisible" id="big-x">X</div>
