/* Hamburger Lines */
.hamburger-line {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 300ms ease-in-out;
}

:host-context(.dark) .hamburger-line {
  background-color: white;
}

/* State 1: Top line rotates 45deg */
button.open .line-1 {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

/* State 2: Middle line fades out */
button.open .line-2 {
  opacity: 0;
}

/* State 3: Bottom line rotates -45deg */
button.open .line-3 {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* Menu Active State */
#mobileMenu.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}